/Food.class
/FoodPanel.class
/GamePanel$ButtonListener.class
/GamePanel$KeyboardListener.class
/GamePanel$TimeListener.class
/GamePanel.class
/InfoPanel.class
/MainProject.class
/Player.class
/apple.gif
/background.jpg
/bg.gif
/cheese.gif
/choco.gif
/giphy.gif
/icecream.gif
